VITE_API_BASE_URL=https://api.diceprojects.com/api
VITE_PROPERTIES_TENANT_ID=2837a845-2216-4e11-b87d-6b3274a02867
VITE_MARKETING_CAMPAIGN_KEY=inmopub-web
VITE_PUBLIC_BOT_KEY=inmopub-web
VITE_PUBLIC_WHATSAPP_URL=https://wa.me/541172466605
